<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.botpress.cloud/webchat/v3.5/inject.js" defer></script>
<script src="https://files.bpcontent.cloud/2026/01/15/17/20260115171627-C5KGC9MY.js" defer></script>
  <title>Servicios</title>
</head>
<body class=" overflow-x-hidden">

  <!-- Navbar -->
  <header id="main-navbar" class="fixed top-0 left-0 right-0 sm:px-9 py-5 flex items-center justify-between z-50"></header>

  <!-- HERO -->
  <section class="w-full px-6 lg:px-16 py-32 grid gap-10 items-center overflow-x-hidden mt-24"> <!-- Añadido mt-24 para el margen superior -->

    <!-- Texto -->
    <div class="max-w-4xl">
      <h1 class="text-4xl lg:text-5xl font-extrabold font-sans text-gray-950 leading-tight mb-12">
    Todo lo que <span class="text-sky-400">necesitas</span> en un solo <span class="text-sky-400">lugar</span>.
  </h1>
      <p class="text-gray-600 text-lg text-justify mb-6 leading-relaxed">
        Tu salud bucal merece lo mejor. Por eso reunimos en un solo lugar los tratamientos más completos, modernos y confiables, brindados por especialistas comprometidos con tu bienestar y tu sonrisa.Nuestro equipo trabaja con dedicación para atender tus necesidades de manera integral, desde los cuidados preventivos hasta los procedimientos más avanzados, asegurando resultados duraderos y una atención humana, cercana y profesional. Aquí encontrarás todo lo necesario para cuidar tu salud dental con confianza y tranquilidad.
      </p>
    </div>

    <!-- Cajas centradas -->
    <section class="grid md:grid-cols-2 lg:grid-cols-3 gap-x-10 gap-y-56 items-stretch mt-40 justify-center">

      <!-- Caja 1 -->
      <div class="relative flex flex-col justify-between items-center overflow-visible group h-full ">
        <img src="../../imag/serviciosS2.jpeg" class="absolute w-80 h-80 object-cover rounded-xl bottom-1/2 translate-y-1/2 opacity-0 z-0 pointer-events-none transition-all duration-500 ease-out group-hover:-translate-y-4 group-hover:opacity-100">
        <div class="relative z-10 border-4 border-gray-200 bg-white rounded-xl p-6 flex flex-col justify-between items-center text-center shadow-md cursor-pointer w-full h-full">
          <div class="w-14 h-14 flex items-center justify-center rounded-full border-4 border-sky-200">
            <img src="../../imag/servicio1.png" alt="Odontología" class="w-10 h-10">
          </div>
          <p class="text-lg font-bold mb-3 text-stone-950">Odontología General</p>
          <p class="text-gray-600 mb-6 text-justify">Diagnóstico y tratamiento primario de los problemas odontológicos que afectan la salud bucodental del paciente.</p>
          <a href="./general/" class="bg-sky-300 text-white px-6 py-2 rounded-full hover:bg-gray-400 transition inline-block">
  VER MÁS
</a>
        </div>
      </div>

      <!-- Caja 2 -->
      <div class="relative flex flex-col justify-between items-center overflow-visible group h-full">
        <img src="../../imag/ortodoncia.jpeg" class="absolute w-80 h-80 object-cover rounded-xl bottom-1/2 translate-y-1/2 opacity-0 z-0 pointer-events-none transition-all duration-500 ease-out group-hover:-translate-y-4 group-hover:opacity-100">
        <div class="relative z-10 border-4 border-gray-200 bg-white rounded-xl p-6 flex flex-col justify-between items-center text-center shadow-md cursor-pointer w-full h-full">
          <div class="w-14 h-14 flex items-center justify-center rounded-full border-4 border-sky-200">
            <img src="../../imag/servicio2.png" alt="Ortodoncia" class="w-10 h-10">
          </div>
          <p class="text-lg font-bold mb-3 text-stone-950">Ortodoncia</p>
          <p class="text-gray-600 mb-6 text-justify">Corrección de las estructuras dentomaxilofaciales, para lograr un aspecto estético y funcional.</p>
          <a href="./ortodoncia/" class="bg-sky-300 text-white px-6 py-2 rounded-full hover:bg-gray-400 transition inline-block">
  VER MÁS
</a>
        </div>
      </div>

      <!-- Caja 3 -->
      <div class="relative flex flex-col justify-between items-center overflow-visible group h-full">
        <img src="../../imag/endodoncia.jpeg" class="absolute w-80 h-80 object-cover rounded-xl bottom-1/2 translate-y-1/2 opacity-0 z-0 pointer-events-none transition-all duration-500 ease-out group-hover:-translate-y-4 group-hover:opacity-100">
        <div class="relative z-10 border-4 border-gray-200 bg-white rounded-xl p-6 flex flex-col justify-between items-center text-center shadow-md cursor-pointer w-full h-full">
          <div class="w-14 h-14 flex items-center justify-center rounded-full border-4 border-sky-200">
            <img src="../../imag/servicio3.png" alt="Endodoncia" class="w-10 h-10">
          </div>
          <p class="text-lg font-bold mb-3 text-stone-950">Endodoncia</p>
          <p class="text-gray-600 mb-6 text-justify">Tratamiento de piezas dentales que han sufrido de pulpitis, recuperándose la funcionalidad y la estética.</p>
          <a href="./endodoncia/" class="bg-sky-300 text-white px-6 py-2 rounded-full hover:bg-gray-400 transition inline-block">
  VER MÁS
</a>
        </div>
      </div>

      <!-- Caja 4 -->
      <div class="relative flex flex-col justify-between items-center overflow-visible group h-full">
        <img src="../../imag/cirugia.jpeg" class="absolute w-80 h-80 object-cover rounded-xl bottom-1/2 translate-y-1/2 opacity-0 z-0 pointer-events-none transition-all duration-500 ease-out group-hover:-translate-y-4 group-hover:opacity-100">
        <div class="relative z-10 border-4 border-gray-200 bg-white rounded-xl p-6 flex flex-col justify-between items-center text-center shadow-md cursor-pointer w-full h-full">
          <div class="w-14 h-14 flex items-center justify-center rounded-full border-4 border-sky-200">
            <img src="../../imag/servicio4.png" alt="Cirugía Bucal" class="w-10 h-10">
          </div>
          <p class="text-lg font-bold mb-3 text-stone-950">Cirugía Bucal</p>
          <p class="text-gray-600 mb-6 text-justify">Trata patologías, lesiones por traumas y defectos congénitos de toda el área maxilofacial, y soluciones estéticas.</p>
          <a href="./cirugia/" class="bg-sky-300 text-white px-6 py-2 rounded-full hover:bg-gray-400 transition inline-block">
  VER MÁS
</a>
        </div>
      </div>

      <!-- Caja 5 -->
      <div class="relative flex flex-col justify-between items-center overflow-visible group h-full">
        <img src="../../imag/implantes.jpeg" class="absolute w-80 h-80 object-cover rounded-xl bottom-1/2 translate-y-1/2 opacity-0 z-0 pointer-events-none transition-all duration-500 ease-out group-hover:-translate-y-4 group-hover:opacity-100">
        <div class="relative z-10 border-4 border-gray-200 bg-white rounded-xl p-6 flex flex-col justify-between items-center text-center shadow-md cursor-pointer w-full h-full">
          <div class="w-14 h-14 flex items-center justify-center rounded-full border-4 border-sky-200">
            <img src="../../imag/servicio1.png" alt="Implantes" class="w-10 h-10">
          </div>
          <p class="text-lg font-bold mb-3 text-stone-950">Implantes</p>
          <p class="text-gray-600 mb-6 text-justify">Los implantes dentales proveen la raíz a una pieza ausente, para que se pueda reconstruir artificialmente.</p>
          <a href="./implantes/" class="bg-sky-300 text-white px-6 py-2 rounded-full hover:bg-gray-400 transition inline-block">
  VER MÁS
</a>
        </div>
      </div>

      <!-- Caja 6 -->
      <div class="relative flex flex-col justify-between items-center overflow-visible group h-full">
        <img src="../../imag/estetica.jpeg" class="absolute w-80 h-80 object-cover rounded-xl bottom-1/2 translate-y-1/2 opacity-0 z-0 pointer-events-none transition-all duration-500 ease-out group-hover:-translate-y-4 group-hover:opacity-100">
        <div class="relative z-10 border-4 border-gray-200 bg-white rounded-xl p-6 flex flex-col justify-between items-center text-center shadow-md cursor-pointer w-full h-full">
          <div class="w-14 h-14 flex items-center justify-center rounded-full border-4 border-sky-200">
            <img src="../../imag/servicio1.png" alt="Estética Dental" class="w-10 h-10">
          </div>
          <p class="text-lg font-bold mb-3 text-stone-950">Estética Dental</p>
          <p class="text-gray-600 mb-6 text-justify">Tratamientos dentales estéticos para mejorar la apariencia de los dientes y sonrisa del paciente.</p>
          <a href="./estetica/" class="bg-sky-300 text-white px-6 py-2 rounded-full hover:bg-gray-400 transition inline-block">
  VER MÁS
</a>
        </div>
      </div>

    </section>
  </section>

  <!-- Footer -->
  <footer class="bg-zinc-950 py-6 px-2 text-center sm:text-sm md:text-lg lg:text-lg xl:text-lg text-zinc-100 flex flex-col items-center justify-center gap-6">
    <!-- Dirección -->
    <p class="flex items-center gap-2 font-semibold">
      <i class="fa-solid fa-location-dot"></i>
      C.C. Millennium torre de oficinas piso 2 oficina N2-02. Los Dos Caminos
    </p>

    <!-- Iconos sociales -->
    <div class="flex items-center gap-8 justify-center">
      <!-- Instagram -->
      <a href="https://www.instagram.com/colosangeles/" class="flex flex-col items-center text-pink-500 hover:text-pink-600">
        <img src="../../imag/agenda3.png" alt="Instagram" class="w-7 h-7">
        <span class="text-xs mt-1 font-semibold">Instagram</span>
      </a>
    </div>
  </footer>

  <script src="../components/nav.js"></script>
</body>
</html>